@import "shared/styles/mixins";
@import "shared/styles/variables";

.LoginForm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.LoginForm__title {
  text-align: center;
}

.input {
  margin-top: 15px;
}

.loginBtn {
  display: block;
  width: 60%;
  margin-top: 15px;
  margin-left: auto;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--secondary-color);

    input {
      color: $whiteColor;
    }
  }

  input {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: var(--invert-cl);
  }
}
