@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.AppLink {
  display: block;
  width: fit-content;
  max-width: 100%;
  transition: $transition;
}

.text_link {
  display: inline;
  text-decoration: underline;
  color: var(--secondary-color);

  &:hover {
    text-decoration: none;
  }
}

.button_link {
  color: var(--invert-cl);
  border: 1px solid var(--invert-bg);
  background-color: var(--invert-bg);
  transition: $transition;
  text-decoration: none;

  &:hover {
    color: var(--primary-color);
    background-color: var(--bg-color);
  }

  &.size_s {
    padding: 5px 10px;
    font-size: $fontSizeTextS;
  }

  &.size_m {
    padding: 6px 10px;
    font-size: $fontSizeTextM;
  }

  &.size_l {
    padding: 8px 15px;
    font-size: $fontSizeTextL;
  }
}

.icon_link {
  position: relative;
  padding: 0;
  border: 1px solid var(--invert-bg);
  background-color: var(--invert-bg);

  &:hover {
    background-color: var(--bg-color);

    svg {
      fill: var(--primary-color)!important;
    }
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--invert-cl)!important;
    transition: $transition;
  }

  &.size_s {
    width: 20px;
    height: 20px;
  }

  &.size_m {
    width: 30px;
    height: 30px;
  }

  &.size_l {
    width: 40px;
    height: 40px;
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
