@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.ArticleDetails {
  &__avatar {
    margin-bottom: 20px;
  }

  .ArticleDetails__title {
    margin-bottom: 5px;
  }

  .ArticleDetails__sybTitle {
    margin-bottom: 30px;
  }

  &__views,
  &__date {
    font-size: 90%;
    margin-bottom: 5px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }

  &__date {
    margin-bottom: 40px;
  }
}
