@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.SelectWrapper {
  @include dflex(flex-start, flex-end, row);

  margin-top: 15px;
  transition: background-color $transition, color $transition;
}

.placeholder {
  flex-shrink: 0;
  width: 45%;
  max-width: 220px;
  padding: 5px;
  font-size: 14px;
  color: var(--invert-cl);
  background-color: var(--invert-bg);
}

.Select {
  flex-grow: 1;
  width: 55%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid var(--invert-bg);
  color: var(--primary-color);
  background: $withoutColor;

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.option {
  border: 1px solid var(--invert-bg);
  color: var(--primary-color);
  background-color: var(--invert-cl);
}

.readonly {
  opacity: 0.8;
  cursor: not-allowed;
}
