@import "shared/styles/mixins";
@import "shared/styles/variables";


.ArticleSortSelector {
  flex-grow: 1;

  .ArticleSortSelector__item{
    flex-grow: 1;
    width: 30%;
    margin-right: 10px;
  }
}
