.NotFoundPage {
  padding: 50px;
  text-align: center;
}

.NotFoundPage__code {
  line-height: 1;
  font-size: 120px;
  font-weight: bold;
}

.NotFoundPage__errorTitle {
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
}
