@import "shared/styles/mixins";
@import "shared/styles/variables";

.smallWidth {
  width: fit-content;
  max-width: 100%;
}

.Dropdown__trigger {
  padding: 0;
  margin: 0;
  color: var(--primary-cl);

  &.rounded {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--primary-color);

    svg {
      fill: var(--primary-color);
    }
  }
}

.Dropdown__list {
  width: max-content;
  min-width: 100%;
  border: 1px solid var(--dropdown-color);

  &.disabled {
    opacity: 0.7;
  }

  button,
  a {
    color: inherit;
    transition: none;
  }
}

.Dropdown__list_item ~ .Dropdown__list_item {
  border-top: 1px solid var(--dropdown-color);
}

.Dropdown__list_link {
  width: 100%;
  padding: 8px 10px;
  text-align-last: left;
  transition: $transition;

  &.active {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}
