@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.popup {
  position: relative;
}


.trigger {
  &.disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.options {
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 2px 10px var(--popup-shadow);
  color: var(--invert-bg);
  background-color: var(--invert-cl);
}

.topLeft {
  left: 0;
  bottom: calc(100% + 5px);
}

.topRight {
  right: 0;
  bottom: calc(100% + 5px);
}

.bottomLeft {
  left: 0;
  top: calc(100% + 5px);
}

.bottomRight {
  right: 0;
  top: calc(100% + 5px);
}

.item {
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
  }
}
