@import "shared/styles/mixins";

main {
  flex-grow: 1;

  .wrapper {
    @include dflex(space-between, stretch, row, wrap);

    aside {
      width: 20%;
    }

    section {
      width: 78%;
    }
  }
}
