@import "@/shared/styles/variables";
@import "@/shared/styles/mixins";

.LangSwitcher {
  @include dflex(center, center, row);

  li {
    margin: 3px;
  }
}

.LangSwitcher_button {
  display: block;
  padding: 4px 8px;
  font-weight: bold;
  border: 1px solid var(--invert-bg);
  border-radius: 5px;
  color: $darkBlue;
  background-color: $whiteColor;

  &:not(.active):hover {
    color: $whiteColor;
    background-color: var(--green);
  }
}

.active {
  color: $light;
  background-color: $brown;
}
