$withoutColor: transparent;
$whiteColor: #fbefdf;
$light: #f6f2f6;
$black: #1c252c;
$darkBlue: #27282d;
$blue: #0BA5BE;
$brown: #cb8a58;
$green: #3d853d;
$redLight: #f32536;
$redDark: #740000;
// values
$transition: 0.3s;
$max-width-content: 1400px;
$fontSizeTextS: 14px;
$fontSizeTextM: 16px;
$fontSizeTextL: 18px;
