$withoutColor: transparent;
$whiteColor: #fbefdf;
$light: #f6f2f6;
$darkBlue: #27282d;
$brown: #cb8a58;
// values
$transition: 0.3s;
$max-width-content: 1400px;
$fontSizeTextS: 14px;
$fontSizeTextM: 16px;
$fontSizeTextL: 18px;
