@import "@/shared/styles/variables";

$shadowColor: rgba(247, 247, 247, 0.842);
$infoColor: #777;

body.dark_theme {
  --bg-color: #{$darkBlue};
  --primary-color: #{$whiteColor};
  --secondary-color: #{$brown};
  --invert-bg: #{$light};
  --invert-cl: #{$darkBlue};
  // skeleton
  --skeleton-shadow: #{$shadowColor};
  // code
  --code-bg: rgba(34, 34, 34, 1);
  // comments
  --comment-color: #{$infoColor};
  // articles
  --article-info: #{$infoColor};
  --article-shadow: #{$shadowColor};
  // card
  --card-shadow: #{$shadowColor};
  // popup
  --popup-shadow: #{$shadowColor};
  // listbox
  --listbox-color: #{$infoColor};
  // --dropdown
  --dropdown-color: #{$infoColor};
}
