@import "shared/styles/variables";

body.dark_theme {
  --bg-color: #{$darkBlue};
  --primary-color: #{$whiteColor};
  --secondary-color: #{$brown};
  --invert-bg: #{$light};
  --invert-cl: #{$darkBlue};
  // skeleton
  --skeleton-shadow: rgba(247, 247, 247, 0.842);
  // code
  --code-bg: rgba(34, 34, 34, 1);
  // comments
  --comment-color: #777;
}
