@import "shared/styles/variables";

body.dark_theme {
  --bg-color: #{$darkBlue};
  --primary-color: #{$whiteColor};
  --secondary-color: #{$brown};
  --invert-bg: #{$light};
  --invert-cl: #{$darkBlue};
}
