@import "shared/styles/variables";

:root {
  --bg-color: #{$light};
  --primary-color: #{$black};
  --secondary-color: #{$brown};
  --invert-bg: #{$darkBlue};
  --invert-cl: #{$light};
  --green: #{$green};
}
