@import "shared/styles/variables";

:root {
  --bg-color: #{$light};
  --primary-color: #1c252c;
  --secondary-color: #{$brown};
  --invert-bg: #{$darkBlue};
  --invert-cl: #{$light};
  // skeleton
  --skeleton-shadow: rgba(0, 0, 0, 0.2);
  // code
  --code-bg: #ececec;
  // comments
  --comment-color: #bebebe;
}
