@import "@/shared/styles/variables";

$shadowColor: rgba(0, 0, 0, 0.2);
$infoColor: #bebebe;

:root {
  --bg-color: #{$light};
  --primary-color: #1c252c;
  --secondary-color: #{$brown};
  --invert-bg: #{$darkBlue};
  --invert-cl: #{$light};
  // skeleton
  --skeleton-shadow: #{$shadowColor};
  // code
  --code-bg: #ececec;
  // comments
  --comment-color: #{$infoColor};
  // articles
  --article-info: #{$infoColor};
  --article-shadow: #{$shadowColor};
  // card
  --card-shadow: #{$shadowColor};
  // popup
  --popup-shadow: #{$shadowColor};
  // listbox
  --listbox-color: #{$infoColor};
  // --dropdown
  --dropdown-color: #{$infoColor};
}
