@import "shared/styles/mixins";
@import "shared/styles/variables";

.ListboxWrapper {
  position: relative;
  width: 100%;
}

.Label {
  flex-shrink: 0;
  width: 45%;
  max-width: 220px;
  padding: 5px;
  font-size: 14px;
  color: var(--invert-cl);
  background-color: var(--invert-bg);

  &.readonly {
    opacity: 0.8;
  }
}

.Listbox {
  width: 100%;
  flex-grow: 1;
}

.ListBox__trigger {
  width: 100%;
}

.ListBox__options {
  min-width: 100%;
}

.ListBox__options_item {
  padding: 5px 10px;
  border-bottom: 1px solid var(--listbox-color);

  &.active {
    color: var(--invert-cl);
    background-color: var(--primary-color);
  }

  &.selected {
    color: var(--bg-color);
    background-color: var(--secondary-color);
  }
}

.withLabel {
  .ListBox__trigger {
    text-align: left;
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-bottom: 1px solid var(--invert-bg);
    color: var(--primary-color);
    background: transparent;
  }
}

.withoutLabel {
  .ListBox__trigger {
    padding: 8px 15px;
    border-radius: 5px;
    color: var(--invert-cl);
    background-color: var(--invert-bg);
  }
}
