@import "../styles/reset";
@import "../styles/themes/normal";
@import "../styles/themes/dark";

.app {
  font: var(--font);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
