@import "@/shared/styles/variables";
@import "@/shared/styles/mixins";

.Button {
  width: fit-content;
  max-width: 100%;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.rounded {
  border-radius: 8px;
}

.standard,
.rounded,
.icon_button {
  color: var(--invert-cl);
  border: 1px solid var(--invert-bg);
  background-color: var(--invert-bg);
  transition: $transition;

  &:not(:disabled):hover {
    color: var(--primary-color);
    background-color: var(--bg-color);
  }
}

.rounded,
.standard {
  &.size_s {
    padding: 5px 10px;
    font-size: $fontSizeTextS;
  }

  &.size_m {
    padding: 10px 20px;
    font-size: $fontSizeTextM;
  }

  &.size_l {
    padding: 12px 40px;
    font-size: $fontSizeTextL;
  }
}

.icon_button {
  position: relative;
  padding: 0;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--invert-cl);
    transition: $transition;
  }

  &:hover svg {
    fill: var(--primary-color);
  }

  &.size_s {
    width: 20px;
    height: 20px;
  }

  &.size_m {
    width: 30px;
    height: 30px;
  }

  &.size_l {
    width: 40px;
    height: 40px;
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
