@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.error_page {
  padding: 20px;
}

.error_text {
  font-size: 16px;
}
/*  >  992 */
@include desktop {
  .error_title {
    margin-bottom: 25px;
    font-size: 200px;
  }
}
/*  >  992 */
