.Avatar_img {
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.none,
.left {
  margin-left: 0;
}

.right {
  margin-left: auto;
}
