@import "shared/styles/mixins";
@import "shared/styles/variables";

.header {
  padding: 10px 0;
  box-shadow: 0 1px 0 (0, 0, 0, 0.2);

  .wrapper {
    @include dflex(space-between, center, row, wrap);
  }
}

.dark {
  box-shadow: 0 1px 0 (255, 255, 255, 0.2);
}
/* > 576px */
@include small-tablet {
}
/* > 576px */

/* > 768px */
@include tablet {
}
/* > 768px */

/* > 992px */
@include small-desktop {
}
/* > 992px */

/* > 1101px */
@include desktop {
}
/* > 1101px */
