@import "shared/styles/mixins";
@import "shared/styles/variables";

.ProfileCard {
  display: block;
  border: 1px solid var(--invert-bg);
  padding: 20px;
}

.edited {
  border-color: var(--secondary-color);
}
