@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.ArticleImageBlockDetails {
  margin-bottom: 20px;

  &_img {
    width: 100%;
    height: auto;
  }

  &_caption {
    margin-top: 5px;
    text-align: center;
    color: var(--secondary-color);
  }
}

